$color-primary: #E50914;
$color-secondary: rgb(48, 48, 48);

$background-color:linear-gradient(149deg, rgba(12,10,10,1) 19%, rgba(219,0,0,1) 36%, rgba(0,0,0,1) 63%, rgba(193,0,0,1) 95%, rgba(86,77,77,1) 100%);